.midia {
    border-radius: 5px;
    width: 225px;
    height: auto;
    margin: 40px 30px 50px 30px;
}

.midia a {
    text-decoration: none;
}

.midia a img {
    text-align: center;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 330px;
    transition: opacity 300ms;
}

.midia a img:hover {
    opacity: 0.4;
}

.midia a .info {
    margin-top: -330px;
    margin-left: 5px;
}

.midia a .nomeCapa {
    margin-top: 266px;
    text-align: center;
    background-color: #111111;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.midia a .nomeCapa p {
    padding: 15px 0px;
}