.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details .coluna1 {
    float: right;
    margin-right: 5%;
}

.details .coluna2 {
    float: left;
    width: 60%;
}

.details img {
    width: 220px;
    height: 340px;
    margin: -70px 0px 30px 20px;
    border-radius: 5px;
}

.details .coluna1 .detalhes {
    width: 200px;
    margin: 0px 0px 30px 30px;
    padding: 20px 0px;
    border-top: 5px solid black;
    border-bottom: 3px solid black;
    border-radius: 12px;
}

.details .coluna2 .descricao {
    padding: 33px 0px;
    border-bottom: 5px solid black;
    border-radius: 15px;
    text-align: justify;
}

.details .coluna2 .descricao h3 {
    margin-bottom: 12px;
}

.details .coluna2 .descricao p {
    
}