.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details .groupRight {
    float: right;
    margin-right: 5%;
}

.details .groupLeft {
    float: left;
    width: 60%;
}

.details img {
    width: 220px;
    height: 340px;
    margin: -70px 0px 30px 20px;
    border-radius: 5px;
    border: 1px solid darkviolet;
}

.details .groupRight .detalhes {
    width: 200px;
    margin: 0px 0px 30px 30px;
    border-top: 5px solid black;
    border-bottom: 3px solid black;
    border-radius: 12px;
}

.details .groupRight .detalhes h4 {
    padding: 10px 15px;
}

.details .groupLeft .descri {
    padding: 33px 0px;
    border-bottom: 5px solid black;
    border-radius: 15px;
    text-align: justify;
    margin-bottom: 10px;
}

.details .groupLeft .descri h3 {
    margin-bottom: 12px;
}

.details .groupLeft .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}