* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

b {
    color: #ffffff;
}

p {
    color: rgb(236, 235, 235);
}

header {
    background-color: #000000e8;
    margin-top: 0;
}

body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    height: 150px;
    border-top: 5px solid darkviolet;
}