/* 
--------------------------------------------------------------------------------------------------------------------
    FAVOR MANTER ESTE CSS ORGANIZADO! 
--------------------------------------------------------------------------------------------------------------------
*/

/* Gerais ------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

b {
    color: #ffffff;
}

p {
    color: rgb(228, 228, 228);
}

a {
    color: #ffffff;
}

body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000000e8;
    height: 70px;
    border-bottom: 1px solid darkviolet;
}

button {
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    border: 1px solid black;
    padding: 7px 17px;
    transition: 300ms;
}

button:hover {
    color: darkviolet;
}

.backgroundImg {
    background-image: url("./assets/PlanoDeFundo/site_fundo-girl_wolf.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.midiaContainer {
    background-color: rgba(0, 0, 0, 0.63);
    margin: 150px 4% 21% 7%;
    border: 1px solid darkviolet;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    height: 150px;
    border-top: 5px solid darkviolet;
}