.logo {
    float: left;
    padding: 21px 20px;
}

.logo a {
    text-decoration: none;
    transition: border 300ms;
}

.logo a:hover {
    border-bottom: 2px solid darkviolet;
    border-radius: 10px;
}

.header {
    float: right;
    color: aliceblue;
}

.header ul {
    list-style: none;
    padding: 26px 17px;
}

.header ul li {
    display: inline;
}

.header a {
    text-decoration: none;
    padding: 6px 17px;
    transition: border 300ms;
}

.header a:hover {
    background-color: rgba(97, 97, 97, 0.075);
    color: darkviolet;
    border-right: 2px solid darkviolet;
    border-top: 2px solid darkviolet;
    border-bottom: 2px solid darkviolet;
    border-radius: 10px;
}